body{
    background-color: black;
    text-align:center;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.profile-card{
    background-color: rgb(43, 43, 43);
    width:340px;
    height:500px;
    border-radius:12px;
    display:block;
    margin:auto;
    margin-top:10%;
    padding-top :10px;
    
}

h1{
    font-family: "Protest Strike", sans-serif;
    margin-bottom:2px;
    letter-spacing:2px;
    font-weight:lighter;
    
}

h3{
    color:rgb(165, 226, 22);
    margin-top:0;
}

p{
    margin-top:20px;
}

.profile-pic{
    width: 100%; /* Fill the container */
    height: auto;
    margin-top: 20px;
    margin:0;
}

.profile-container {
    width: 100px; 
    height: 100px; 
    overflow: hidden;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    margin: auto;
    margin-top:20px;
}

.nav-btn{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:auto;
    width:270px;
    margin-bottom:50px;
}


.nav-link{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:12px;
    margin-bottom:5px;
    border-radius:7px;
    padding:10px 0 10px 0;
    background-color:rgb(73, 70, 70);
    border:none; 
}

.nav-link:hover {
    background-color: rgb(43, 43, 43);
    border:2px solid rgb(90, 88, 88);
}
footer{
    color:rgb(73, 69, 69);
    margin:auto;
    margin-top:20px;
    font-size:13px;
}

#footer{
    border:none;
    background-color: none;
    color:rgb(64, 64, 107);
    text-decoration:none;
}
